<%= form_for(@listing, html:{ multipart: true }) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <h3><%= pluralize(@listing.errors.count, "erreurs") %> :</h3>


      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Titre"%><br>
    <%= f.text_field :name , class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :description, "Description" %><br>
    <%= f.text_area :description , size: "30x10", class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :price, "Prix" %><br>
    <div class="input-group input-group-lg">

        <%= f.number_field :price, {step: '1', class: "form-control"} %><span class="input-group-addon">€</span>

    </div>
  </div>

    <div class="panel panel-default">
      <div class="panel-heading">Images (Taille inférieure à 2MB)</div>
      <div class="panel-body">

        <%= f.label :image1, "Image 1" %><br>
        <%= f.file_field :image1 , class: "form-control"%>

        <%= f.label :image1, "Image 2" %><br>
        <%= f.file_field :image1 , class: "form-control"%>

        <%= f.label :image1, "Image 3" %><br>
        <%= f.file_field :image1 , class: "form-control"%>

      </div>
    </div>

    <div class="form-group">
      <%= f.label :certificat, "Certificat d'authenticité (obligatoire pour un prix supérieur à 100 euros)" %><br>
      <%= f.file_field :certificat , class: "form-control"%>
    </div>

    <div class="actions">
        <%= f.submit "Publier mon article", class: "btn btn-primary" %>
    </div>
    <br>
<% end %>

