<%# encoding: utf-8 %>
<% if current_page?('/') %>

<div id="hero-wrapper">
  <div id="hero">

    <div id="catch-header">
      <div id="join-us">
        <h1 style="text-align:center;">Vendez et Achetez vos timbres</h1>
        <h2 style="text-align:center;">en toute simplicité</h2><br>

        <a href="/listings">
        <button class="btn btn-primary", style= "width:150px;font-size:18px;font-weight: bold ;">Acheter</button>
        </a>
        <a href="/listings/new">
        <button class="btn btn-primary", style= "width:150px;font-size:18px;font-weight: bold">Vendre</button>
        </a>
      </div>
    </div>
  </div>
</div>
<br>
<%end%>
<div class="container">
<div class="center">
    <div class="row">
      <% @listings.each do |listing| %>

        <div class="col-md-3">
          <a class="index-listing" href="<%= listing_path(listing) %>">

          <div class="thumbnail">

            <img src="<%= listing.image.url(:medium) %>" >

            <div class="caption">

                <h3><%= listing.name %></h3>
                <p> <%= number_to_currency(listing.price )%></p>
                <p> <%= "Vendu par #{listing.user.name}" %></p>

            </div>
          </div>
          </a>
        </div>
      <%end%>
    </div>
</div>


<br>

<% if user_signed_in?%>
<%= link_to 'Vendre un article', new_listing_path, class:"btn btn-primary" %>
<%end%>
</div>


