<div class="container">

    <div class="center">

        <div class="row">

          <div class="col-md-6">
            <div class="thumbnail">
              


              <div class="fotorama" data-width="100%" data-nav="thumbs" data-allowfullscreen="true" data-loop="true" data-arrows="true">
                <%= image_tag @listing.image.url %>

              </div>

            </div>
          </div>
        <div class="col-md-6">

          <div class="thumbnail">

            <h3>  <%= @listing.name %>    </h3>
            <hr class="divider">
            <p><%= number_to_currency(@listing.price) %></p>
            <hr class="divider">
            <p><%= @listing.description %></p>
          </div>

        </div>
        </div>
    </div>

    <%if current_user == @listing.user%>
    <%= link_to 'Modifier', edit_listing_path(@listing), class:"btn btn-link" %> |
    <%= link_to 'supprimer', @listings, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-link" %></li> |
    <%end%>

    <%= link_to 'retour', listings_path, class:"btn btn-link" %>

</div>
