<%# encoding: utf-8 %>
<div class="container">

      <div class="row">

        <h1>  <%= @listing.name %>    </h1>
        <br>
  </div>


  <div class="row">

          <div class="col-md-8">
            <div class="thumbnail">

            <div class="fotorama" data-nav="thumbs" width="100" height="60" data-allowfullscreen="true" data-loop="true" data-arrows="true">
              <%= image_tag @listing.image.url(:medium) %>
              <%= image_tag @listing.image.url(:medium) %>

          </div>
            </div>

          </div>

          <div class="col-md-4">
            <div class="center">

          <div class="thumbnail">

            <h3>   <%= "Vendu par #{@listing.user.name}" %></h3>
            <hr class="divider">
            <p><%= number_to_currency(@listing.price) %></p>

          </div>
            </div>
        </div>
        </div>

      <div class="thumbnail">
        <div class="container">

      <div class="row">
        <div class="col-md-8">
          <%= "Mis en ligne le #{@listing.created_at.strftime("%d/%m/%Y")} à #{@listing.created_at.strftime("%H:%M")}"%>
          <hr class="divider">
          <h2>Description :</h2>
          <p><%= @listing.description %></p>

        </div>
      </div>
        </div>

      </div>

    <%if current_user == @listing.user%>
    <%= link_to 'Modifier', edit_listing_path(@listing), class:"btn btn-link" %> |
    <%= link_to 'supprimer', @listings, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-link" %></li> |
    <%end%>

    <%= link_to 'retour', listings_path, class:"btn btn-link" %>

</div>
