<%# encoding: utf-8 %>

<!--login-->
<div class="modal" id="signin" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="center">Connexion</h2>
      </div>
      <div class="modal-body">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class:"form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password , "Mot de passe"%><br />
              <%= f.password_field :password, autocomplete: "off" ,class:"form-control"%>
            </div>

            <% if devise_mapping.rememberable? -%>
                <div class="form-group">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, "Rester connecte" %>
                </div>


                </div>
                <div class="modal-footer">

                  <%= f.submit "Connexion" , class: "btn btn-primary"%>

                  <%= link_to "Créer un compte", new_registration_path(resource_name),  class: "btn btn-default" %><br>
                  <%= link_to "Mot de passe oublié?", new_password_path(resource_name) %><br />
            <% end -%>

        <% end %>
        </div>
        </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--Sign up-->

<div class="modal" id="signup" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="center">Inscription</h2>
      </div>
      <div class="modal-body">


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :name, "Nom" %><br />
          <%= f.text_field :name, autofocus: true, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.text_field :email, class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :password, "Mot de Passe" %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" , class: "form-control"%>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmation du mot de passe"%><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" , class: "form-control"%>
        </div>
            <div class="modal-footer">

        <div class="form-group">
          <%= f.submit "Inscription", class: "btn btn-primary btn-default"%>
        </div>
      <% end %>
        </div>

      </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->